footer {
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer p {
  @include font(raleway);
}

footer h4 {
  color: #a53900;
}

.f-products,
.f-company,
.f-learn {
  @include list-style(none);
  a {
    @include text-deco(link);
    margin: 2px;
  }
}

.connect h4 {
  display: block;
}

.connect a {
  display: inline-block;
  @include text-deco(link);
  margin: 20px 20px;
}