$pro: #00d7ff;
$pro-dark: #00bef7;
$institute: #E2762b;
$academy: #ffd54d;
$therapy: #77d2a7;
$skincare: #CB4B92;
$gray: #7F7F7F;
$light-gray: #f2f2f2;
$link-light: #279bd8;
$dark-header: #006ca5;
$midnight-blue: #2c3e50;
$white: #fff;