/*---------------------------------*/
/*Flexbox mixins*/
/*---------------------------------*/

@mixin display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction ($value: row) {
  @if $value == row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  } @else if $value == column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  } @else if $value == column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  } @else if $value == row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@mixin flex-order($order) {
  -webkit-box-ordinal-group: $order;
  -webkit-order: $order;
  -ms-flex-order: $order;
  order: $order;
}

@mixin none {
  display: none;
}

@mixin align-items ($value: center) {
  @if $value == center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  } @else if $value == baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
  } @else if $value == flex-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  } @else if $value == stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
  }
}

@mixin justify-content($value: center) {
  @if  $value == flex-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  } @else if $value == flex-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  } @else if $value == space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/*---------------------------------*/
/*Text and List decorations*/
/*---------------------------------*/
@mixin list-style($value: circle) {
  @if $value == none {
    list-style-type: none;
  }
}

@mixin text-deco($value: link) {
  @if $value == link {
    text-decoration: none;
  } @else if $value == over {
    text-decoration: overline;
  } @else if $value == under {
    text-decoration: underline;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  transition: $args;
}

/*---------------------------------*/
/*Fonts*/
/*---------------------------------*/

@mixin font($value: raleway) {
  @if $value == raleway {
    font-family: 'Raleway', sans-serif;
  } @else if $value == merri {
    font-family: 'Merriweather', serif;
  }
}